<div class="panel panel-no-border">
  <div class="panel-body">
    <h3 class="section-heading"><b>DISPLAY</b></h3>
    <div class="col-md-6">
      <div class="panel panel-no-border options-panel" id="line-options-panel">
        <div id="line-legend">
          <ul class="list-unstyled chart-options">
            <li>
              <h5 class="title-light">
                <div class="circle" id="resilience"></div>
                Resilience
              </h5>
            </li>
            <li>
              <h5 class="title-light">
                <div class="circle" id="inactive-circle"></div>
                Time Management
              </h5>
            </li>
            <li>
              <h5 class="title-light">
                <div class="circle" id="inactive-circle"></div>
                School Climate
              </h5>
            </li>
            <li>
              <ul class="list-unstyled chart-options">
                <li>
                  <h5 class="title-light">
                    <div class="circle" id="safety"></div>
                    Safety
                  </h5>
                </li>
                <li>
                  <h5 class="title-light">
                    <div class="circle" id="inactive-circle"></div>
                    Support for Learning
                  </h5>
                </li>
                <li>
                  <h5 class="title-light">
                    <div class="circle" id="relationships"></div>
                    Relationships
                  </h5>
                </li>
                <li>
                  <h5 class="title-light">
                    <div class="circle" id="inactive-circle"></div>
                    Facilities / Resources
                  </h5>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-no-border options-panel" id="other-options-panel">
        <div class="panel-body" style="padding-right: 2px;padding-top: 0px;">
          <ul class="list-inline" style="margin-bottom:0px;">
            <li>
              <h5 class="title-light">
                <div class="circle" id="inactive-circle"></div>
                Composite
              </h5>
            </li>
            <li>
              <h5 class="title-light">
                <div class="circle" id="inactive-circle"></div>
                Separate
              </h5>
            </li>
          </ul>
          <hr style="margin-top:0px; margin-bottom:0px;">
          <ul class="nav nav-list">
            <li class="divider"></li>
          </ul>
          <span style="display:inline-block;padding-left: 15px;">Who's Responses</span>
          <h5 class="title-light">
            <div class="circle" id="relationships"></div>
            Students
          </h5>
          <h5 class="title-light">
            <div class="circle" id="relationships"></div>
            Faculty
          </h5>
          <h5 class="title-light">
            <div class="circle" id="inactive-circle"></div>
            Parents
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
