<div class="panel panel-no-border">
  <div class="panel-body">
    <h3 class="section-heading"><b>RESULTS</b></h3>
    <div class="col-md-6">
      <div class="panel panel-no-border options-panel">
        <div id="line-legend">
          <ul class="list-unstyled chart-options">
            <li>
              <h5 class="title-light">
                <div class="circle" id="resilience"></div>
                Resilience
              </h5>
            </li>
            <li>
              <h5 class="title-light">
                <div class="circle" id="inactive-circle"></div>
                Time Management
              </h5>
            </li>
            <li>
              <h5 class="title-light">
                <div class="circle" id="inactive-circle"></div>
                School Climate
              </h5>
            </li>
            <li>
              <ul class="list-unstyled chart-options">
                <li>
                  <h5 class="title-light">
                    <div class="circle" id="safety"></div>
                    Safety
                  </h5>
                </li>
                <li>
                  <h5 class="title-light">
                    <div class="circle" id="inactive-circle"></div>
                    Support for Learning
                  </h5>
                </li>
                <li>
                  <h5 class="title-light">
                    <div class="circle" id="relationships"></div>
                    Relationships
                  </h5>
                </li>
                <li>
                  <h5 class="title-light">
                    <div class="circle" id="inactive-circle"></div>
                    Facilities / Resources
                  </h5>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <form class="form-horizontal">
        <div class="form-group">
          <div class="col-md-4">
            <label for="searchbox" class="pull-right text-right" style="margin-bottom: 0px;padding-top: 8px;">Search</label>
          </div>
          <div class="col-md-8">
            <input class="form-control" id="searchbox">
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-12">
      <hr>
    </div>
    <div class="col-md-12">
      <h5 class="results-title">This week my teacher let me know that I did a good job.</h5>
      <div id="donut-graph-1"></div>
    </div>
    <div class="col-md-12">
      <hr>
    </div>
    <div class="col-md-12">
      <span class="results-title">Our school administrators looked out for our needs this week.</span>
      <div id="donut-graph-2"></div>
    </div>
  </div>
</div>
