
  <div class="panel panel-no-border">
    <div class="custom-panel-body">
      <h3 class="title-light">Our School</h3>
      <div class="panel options-panel nano">
        <ul class="scrollable-menu nano-content" id="custom-scroll">
          <button type="button" class="school-option">
            <span class="pull-left title-light" style="display:block;">Founders Memorial</span>
          </button>
          <button type="button" class="school-option">
            <span class="pull-left title-light" style="display:block;">Essex Elementary</span>
          </button>
          <button type="button" class="school-option">
            <span class="pull-left title-light" style="display:block;">Essex Highschool</span>
          </button>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-no-border">
    <div class="custom-panel-body">
      <h3 class="title-light">Our People</h3>
      <button type="button" class="people-option">
        <span class="pull-left title-light" style="display:block;">Faculty / Staff</span>
      </button>
      <button type="button" class="people-option">
        <span class="pull-left title-light" style="display:block;">Students</span>
      </button>
      <button type="button" class="people-option">
        <span class="pull-left title-light" style="display:block;">Parents</span>
      </button>
      <button type="button" class="people-option">
        <span class="pull-left title-light" style="display:block;">Coaches</span>
      </button>
      <button type="button" class="people-option">
        <span class="pull-left title-light" style="display:block;">Volunteers</span>
      </button>
    </div>
  </div>
  <div class="panel panel-no-border">
    <div class="panel-body">
      <h3 class="title-light">Tags</h3>
      <div class="panel options-panel">
        <div class="custom-panel-body">
          <h6>Grade</h6>
          <div class="">
            <button type="button" class="grade-btn right">9</button>
            <button type="button" class="grade-btn right">10</button>
            <button type="button" class="grade-btn right">11</button>
            <button type="button" class="grade-btn right">12</button>
          </div>
        </div>
      </div>
      <div class="panel options-panel" style="margin-top: 5px;">
        <div class="custom-panel-body">
          <h6 style="margin-bottom:0;">Subject</h6>
          <div class="btn-group">
            <button type="button" class="dropdown-toggle people-option" data-toggle="dropdown" aria-expanded="false" id="subject-dropdown">
              <span class="pull-left title-light" style="display:block;"><span class="caret"></span> Choose Subject</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">English</a></li>
              <li><a href="#">Science</a></li>
              <li><a href="#">Math</a></li>
              <li class="divider"></li>
              <li><a href="http://www.linkedin.com/in/nickclucas">About the Creator!</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel options-panel" style="margin-top: 5px;">
        <div class="custom-panel-body">
          <h6 style="margin-bottom:0;">Gender</h6>
          <div class="btn-group">
            <button type="button" class="dropdown-toggle people-option" data-toggle="dropdown" aria-expanded="false" id="subject-dropdown">
              <span class="pull-left title-light" style="display:block;" id="dropdown-title"><span class="caret"></span> Gender</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Female</a></li>
              <li><a href="#">Male</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-no-border">
    <div class="panel-body">
      <h3 class="title-light">My Groups</h3>
      <button type="button" class="people-option">
        <span class="pull-left title-light" style="display:block;">ESL 9th Graders</span>
      </button>
      <button type="button" class="people-option">
        <span class="pull-left title-light" style="display:block;">Absentee Issues 9 - 12</span>
      </button>
      <button type="button" class="people-option">
        <span class="pull-left title-light" style="display:block;">10 - 12 Girls Math</span>
      </button>
    </div>
  </div>
